##############################################
# Variabler som utledes fra nudbs data alene #
##############################################


[variables.utd_skoleaar_slutt]
    unit = "tid"
    dtype = "STRING"
    renamed_from = ["skoleaar_slutt"]
    klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.
    derived_from = ["utd_skoleaar_start"]



#################################################
# Variabler som utledes ved hjelp av FREGs data #
#################################################

[variables.pers_16aar_foreldres_utdnivaa]
    unit = "pers"
    dtype = "STRING"
    renamed_from = ["sosbak"]
    derived_from = ["nus2000", "pers_foedselsdato", "pers_id_far", "pers_id_mor"]





####################################################
# Variabler som kan utledes fra NUS2000-kodeverket #
####################################################

[variables.vg_kompetanse_nus]
    unit = "vg"
    dtype = "STRING"
    renamed_from = ["komp"]
    klass_codelist = 36
    klass_variant = "Kompetanse"
    derived_from = ["nus2000"]  # Kan vi utlede fra programomraadekode heller/ i tillegg?