variables_sort_unit = [
    "enhet",     # Variabler direkte tilknyttet radens ident, eller andre identer
    "pers",      # Personvariabler
    "data",      # Merknader om datas form, kilde ol.
    "tid",       # Forteller om tidsettingen til opplysningen
    "fag",       # Variabler direkte tilknyttet "hva eleven tar", utledet fra nus, programområdekode osv.
    "skole",     # Variabler som tilhører skolen / institusjonen utdanningen tas på
	"utd",       # Alle utdanninger
	"gr",        # Grunnskoleutdanning
	"gro",       # Grunnopplæring (gr + vg)
    "vg",        # Videregåendeutdanning
	"fa",        # Fagskoler (Høyere yrkesfaglig utdanning)
	"fuh",       # Fagskoler + Universitet og Høgskole-Utdanning
    "uh",        # Universitet og Høgskole-Utdanning
    "karakter",  # Karakterer elev/student har motatt
    "land",      # Variabler som sier noe om landtilhørighet
    "utdatert",  # Variabler vi ønsker at skal vekk
	"ukjent",    # Variabler som enda ikke er plassert
]

[variables]

    [variables.utd_hendelse_id]
        unit = "enhet"
        dtype = "INTEGER"
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

#################
# Persvariabler #
#################

	[variables.snr]
		unit = "pers"
		dtype = "STRING"
		length = [7]
		renamed_from = ["pers_id"]  # This is due to a misunderstanding with 320 and 312. Pers_id was intended to be "pseudonomized fnr", not snr. But we have misunderstood at some point.
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.fnr]
		unit = "pers"
		dtype = "STRING"
		length = [11]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


	[variables.pers_kjoenn]
		unit = "pers"
		dtype = "STRING"
		length = [1]
		klass_codelist = 2
		renamed_from = ["kjoenn"]

#################
# Datavariabler #
#################

	[variables.utd_datakilde]
		unit = "data"
		dtype = "STRING"
		length = [2]
		klass_codelist = 792
		renamed_from = ["kilde", "kildebhu"]

	[variables.utd_fullfoertkode]
		unit = "data"
		dtype = "STRING"
		length = [1]
		renamed_from = ["utfall"]



################
# Tidskolonner #
################
	[variables.pers_foedselsdato]
		unit = "tid"
		dtype = "DATETIME"
		renamed_from = ["fodt_dato", "fodtdato", "fodselsdato", "foedselsdato"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.



    [variables.utd_aktivitet_start]
        unit = "tid"
        dtype = "DATETIME"
        renamed_from = ["startd", "kurs_start"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


    [variables.utd_aktivitet_slutt]
        unit = "tid"
        dtype = "DATETIME"
        renamed_from = ["sluttd", "fulldato", "kurs_slutt"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


    [variables.utd_aktivitet_start_inn]
        unit = "tid"
        dtype = "DATETIME"
        renamed_from = ["estart", "kstart", "kurs_start_orig"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


    [variables.utd_aktivitet_slutt_inn]
        unit = "tid"
        dtype = "DATETIME"
        renamed_from = ["eslutt", "eavsl", "kurs_slutt_orig"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


    [variables.utd_skoleaar_start]
        unit = "tid"
        dtype = "STRING"
		length = [4]
        renamed_from = ["skolear", "skoleaar", "skoleaar_start"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


    [variables.uh_eksamen_dato]
        unit = "tid"
        dtype = "DATETIME"
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.



    [variables.uh_eksamen_dato_inn]
        unit = "tid"
        dtype = "DATETIME"
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.



#############################
# Fagvariabler / nuskatalog #
#############################

	[variables.nus2000]
		unit = "fag"
		dtype = "STRING"
		length = [6]
		klass_codelist = 36








##################
# Skolevariabler #
##################

    [variables.bof_orgnrbed]
		unit = "skole"
		dtype = "STRING"
		length = [9]
        renamed_from = ["orgnrbed", "bof_orgnr_bed"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


    [variables.utd_orgnr]
		unit = "skole"
		dtype = "STRING"
		length = [9]
        renamed_from = ["orgnr"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


    [variables.gro_skolenavn_inn]
        unit = "skole"
        dtype = "STRING"
        renamed_from = ["skolenavn", "utd_orgnr_navn_inn"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.


	[variables.utd_skolekom]
		unit = "skole"
		dtype = "STRING"
		length = [4]
        klass_codelist = 131
        klass_codelist_from_date = "1960-01-01"
        renamed_from = ["skolekom"]






############################
# "utd" - Alle utdanninger #
############################

	[variables.utd_klassetrinn]
		unit = "fag"
		dtype = "INTEGER"
		renamed_from = ["kltrinn2000"]

	[variables.utd_aktivitetsnivaa_heltid_deltid]
		unit = "fag"
		dtype = "BOOLEAN"
		renamed_from = ["heldel", "utd_heltid_deltid_aktivitetsnivaa"]

	[variables.utd_viderutd_nettbasert]
		unit = "fag"
		dtype = "STRING"
		length = [1]
		klass_codelist = 794
		renamed_from = ["evufjern"]

	[variables.fuh_nett_eller_stedbasert]
		unit = "fag"
		dtype = "STRING"
		length = [1]
		klass_codelist = 796
		renamed_from = ["organisering", "utd_nett_eller_stedbasert"]

	[variables.utd_utdanningstype]
		unit = "fag"
		dtype = "STRING"
		length = [3]
		klass_codelist = 798
		renamed_from = ["utd"]

	# Utveksling ikke kun på UH?
	[variables.utd_utveksling]
		unit = "uh"
		dtype = "STRING"
		length = [1]
		klass_codelist = 791
		renamed_from = ["utveks"]


#####################
# "gr" - Grunnskole #
#####################

    [variables.gr_grunnskolepoeng]
        unit = "gr"
        dtype = "FLOAT"
        renamed_from = ["grunnskolepoeng"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

####################################
# "gro" - Grunnopplæring (gr + vg) #
####################################
	[variables.gro_elevstatus]
		unit = "gro"
		dtype = "STRING"
		length = [1]
		klass_codelist = 765
		renamed_from = ["elevstatus"]

	[variables.gro_skolenr_inn]
        unit = "gro"
        dtype = "STRING"
        length = [5]
        renamed_from = ["fskolenr"]

	[variables.gro_fravaer_dager]
        unit = "gro"
        dtype = "INTEGER"
        renamed_from = ["f_dager"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

    [variables.gro_fravaer_timer]
        unit = "gro"
        dtype = "INTEGER"
        renamed_from = ["f_timer"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

    [variables.gro_programomraade]
		unit = "gro"
		dtype = "STRING"
		length = [10]
		renamed_from = ["fkurskod", "vg_programomraade"]

################################
# "vg" - Videregåendeutdanning #
################################

	# Tidligere ble denne imputert til fra UH ol. men vi ønsker å beholde kodelistene der slik de kommer inn
	# Derfor blir dette en VG-variabel, som kun bør være utfylt med de som har utd_utdanningstype 211, 212, 220 eller 610
	[variables.vg_fullfoertkode_detaljert]
		unit = "vg"
		dtype = "STRING"
		length = [1]
		renamed_from = ["utfallu", "utd_fullfoertkode_inn"]

	[variables.vg_antall_aarstimer_elevkurs]
        unit = "vg"
        dtype = "INTEGER"
        renamed_from = ["aartimer"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.vg_kursprosent]
		unit = "vg"
		dtype = "FLOAT"
		renamed_from = ["delpros"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.vg_antall_fag_elevkurs]
		unit = "vg"
		dtype = "INTEGER"
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.vg_karakterpoeng]
		unit = "vg"
		dtype = "FLOAT"
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.vg_vedtak_saerskilt_spraak]
		unit = "vg"
		dtype = "BOOLEAN"
		renamed_from = ["fkurskod"]

	[variables.vg_kontraktstype]
		unit = "vg"
		dtype = "STRING"
		length = [1]
		klass_codelist = 769
		renamed_from = ["kontraktstype"]  # Ikke legg til ftype, vi håndtrerer den med overrides

	[variables.vg_provenr]
        unit = "vg"
        dtype = "INTEGER"
        renamed_from = ["provnr"]
		klass_codelist = 0  # Is this correct? Does a codelist exist?

	[variables.vg_prove_dato]
        unit = "vg"
        dtype = "DATETIME"
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.vg_yrkes_og_studiekompetanse]
		unit = "vg"
		dtype = "STRING"
		length = [1]
		renamed_from = ["taf"]

	[variables.vg_rettstype_inntak]
		unit = "fag"
		dtype = "STRING"
		length = [1]
		klass_codelist = 764
		renamed_from = ["rett"]

	[variables.vg_nylaerling]
		unit = "vg"
		dtype = "BOOLEAN"
		renamed_from = ["nylaerl"]

	[variables.vg_bevistype]
        unit = "fag"
        dtype = "STRING"
        length = [2]
        renamed_from = ["doktype"]

    [variables.vg_provekandtype]
        unit = "vg"
        dtype = "STRING"
        length = [1]
        renamed_from = ["provekandtype"]  # Ikke legg til ftype, vi håndtrerer den med overrides

	[variables.vg_hovedaktivitet]  # merkevariabel som prioriterer en record per person, per skoleår, per fil, innenfor vg
        unit = "vg"
        dtype = "STRING"  # Har lite info om denne! C 2025-10-31

	[variables.vg_utdprogram]  # Kan kanskje kobles på fra nuskatalogen, men vi skal beholde den fra innfilene?
		unit = "vg"
		dtype = "STRING"
		length = [2]
		renamed_from = ["studretn"]


####################
# "fa" - Fagskoler #
####################


	[variables.fa_godkjent_fagskoleutd]
		unit = "fa"
		dtype = "BOOLEAN"
		renamed_from = ["fagskoleutd"]

	[variables.fa_hovedaktivitet]    # merkevariabel som prioriterer en record per person, per skoleår, per fil, innenfor fa
		unit = "fa"
		dtype = "STRING"  # I have no info at current time, so I dont know? C 2025-10-31


	[variables.fa_institusjon_id]
		unit = "fa"
		dtype = "STRING"  # missing information...
		renamed_from = ["skolenr"]

	[variables.fa_karakter]
		unit = "fa"
		dtype = "STRING"  # missing information...
		renamed_from = ["karakterer"]

	[variables.fa_studiestednr_inn]
		unit = "fa"
		dtype = "STRING"  # missing information...
		length = [3]
		renamed_from = ["studiestednr"]

	[variables.fa_utveksl_varighet_dager]
		unit = "fa"
		dtype = "INTEGER"  # HVA ER VARIGHETEN I? Måneder?
		renamed_from = ["utveksl_varighet"]






#########################################################
# "fuh" - Fagskoler + Universitet og Høgskole-Utdanning #
#########################################################


	[variables.fuh_opptaksgrunnlag]
		unit = "fuh"
		dtype = "STRING"
		length = [1]
		renamed_from = ["realkomp"]


############################################
# "uh" - Universitet og Høgskole-Utdanning #
############################################


	[variables.uh_institusjon_id]
		unit = "skole"
		dtype = "STRING"
		length = [3]
		klass_codelist = 790
        renamed_from = ["hskode"]

	[variables.uh_fullfoertkode_inn]
			unit = "uh"
			dtype = "STRING"
			length = [1]

	[variables.uh_realkompetanse]
		unit = "uh"
		dtype = "STRING"
		length = [1]
		klass_codelist = 795
		renamed_from = ["realkomp"]

    [variables.uh_campus_sted]
        unit = "uh"
        dtype = "STRING"
        renamed_from = ["campus_sted"]

    [variables.uh_campus_kommune]
        unit = "uh"
        dtype = "STRING"
        length = [4]
        klass_codelist = 131
        renamed_from = ["campus_kom"]


    [variables.uh_termin_rapportert]
        unit = "fag"
        dtype = "STRING"
        renamed_from = ["termrapp"]

    [variables.uh_studieprogram]
        unit = "fag"
        dtype = "STRING"
        renamed_from = ["studprog", "studieprogram"]

    [variables.uh_eksamen_karakter]
        unit = "fag"
        dtype = "STRING"
        renamed_from = ["karakter_eks"]

    [variables.uh_emnekode]
        unit = "fag"
        dtype = "STRING"
        renamed_from = ["emnekode"]

    [variables.uh_studienivaa]
        unit = "fag"
        dtype = "STRING"
        renamed_from = ["studnivaa"]

    [variables.uh_studieprogram_navn]
        unit = "fag"
        dtype = "STRING"
        renamed_from = ["studprog_navn"]

    [variables.uh_emnekode_navn]
        unit = "fag"
        dtype = "STRING"
        renamed_from = ["emnekode_navn"]



	[variables.uh_utvekslingsavtale]
		unit = "uh"
		dtype = "STRING"
		length = [3,4,5,6,7,8,9,10,11,12,13]
		renamed_from = ["utveksavtale"]
		#klass_codelist = 792  # Denne er foreldet etter vi gikk over til å bruke kodelisten slik den kommer inn til oss?

	[variables.uh_eksamen_studpoeng]
		unit = "uh"
		dtype = "FLOAT"
		renamed_from = ["studpoeng_eks"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

    [variables.uh_studiepoeng_grad]
        unit = "uh"
        dtype = "FLOAT"
        renamed_from = ["studpoeng_grad"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.uh_eksamen_er_gjentak]
		unit = "uh"
		dtype = "STRING"
		length = [1]
		renamed_from = ["gjentak"]

	[variables.uh_antall_deleksamener]
		unit = "uh"
        dtype = "INTEGER"
		# dtype = "STRING"
		# length = [1]
		renamed_from = ["antall_deleks"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.uh_antall_deleksamener_bestatt]
		unit = "uh"
        dtype = "INTEGER"
		# dtype = "STRING"
		# length = [1]
		renamed_from = ["antall_deleks_bestaatt"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

	[variables.uh_studierett]
		unit = "uh"
		dtype = "BOOLEAN"
		renamed_from = ["studrett"]

    [variables.uh_permisjon]
        unit = "uh"
        dtype = "BOOLEAN"
        renamed_from = ["permisjon"]

	[variables.uh_studieprogresjon_hoest]
		unit = "uh"
		dtype = "FLOAT"
		renamed_from = ["studieprogresjon_h", "studieprogresjon"]
		klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.

    [variables.uh_utdplan]
		unit = "uh"
        dtype = "STRING"
        renamed_from = ["utdplan"]

    [variables.uh_hovedaktivitet]   # merkevariabel som prioriterer en record per person, per skoleår, per fil, innenfor uh
        unit = "uh"
        dtype = "STRING"
        renamed_from = ["hovedprogram"]

    [variables.uh_undervisningsspraak]
        unit = "uh"
        dtype = "STRING"
        renamed_from = ["undervisningssprak"]

    [variables.uh_fakultet]
        unit = "uh"
        dtype = "STRING"
        length = [2]
        renamed_from = ["fakultet"]







########
# Land #
########

	[variables.uh_utland]
		unit = "land"
		dtype = "BOOLEAN"
		renamed_from = ["utland"]

	[variables.uh_studieland]
		unit = "land"
		dtype = "STRING"
		length = [3]
		klass_codelist = 91
		renamed_from = ["studieland"]

	[variables.fuh_utvekslingsland]
		unit = "land"
		dtype = "STRING"
		length = [3]
		klass_codelist = 91
		renamed_from = ["utveksland","uh_utvekslingsland"]

	[variables.uh_studgrunnlagsland]
		unit = "land"
		dtype = "STRING"
		length = [3]
		klass_codelist = 91
		renamed_from = ["studgrland"]

	[variables.uh_statsborgerskap_inn]
		unit = "land"
		dtype = "STRING"
		length = [3]
		klass_codelist = 91
		renamed_from = ["statb_meldt"]

##############
# Karakterer #
##############

    [variables.stp]
        unit = "karakter"
        dtype = "STRING"
        length = [1, 2]

    [variables.skr]
        unit = "karakter"
        dtype = "STRING"
        length = [1, 2]

    [variables.mun]
        unit = "karakter"
        dtype = "STRING"
        length = [1, 2]

    [variables.annen]
        unit = "karakter"
        dtype = "STRING"
        length = [1, 2]

    [variables.termin1]
        unit = "karakter"
        dtype = "STRING"
        length = [1, 2]

    [variables.termin2]
        unit = "karakter"
        dtype = "STRING"
        length = [1, 2]

    [variables.kar_annen]
        unit = "karakter"
        dtype = "STRING"
        length = [1, 2]
