##############################################
# Variabler som utledes fra nudbs data alene #
##############################################


[variables.utd_skoleaar_slutt]
    unit = "tid"
    dtype = "STRING"
    renamed_from = ["skoleaar_slutt"]
    klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.
    derived_from = ["utd_skoleaar_start"]


####################################################
# Variabler som kan utledes fra NUS2000-kodeverket #
####################################################

[variables.vg_kompetanse_nus]
    unit = "vg"
    dtype = "STRING"
    length = [1]
    renamed_from = ["komp"]
    klass_codelist = 36
    klass_variant_search_term = "Kompetanse"
    derived_from = ["nus2000"]  # Kan vi utlede fra programomraadekode heller/ i tillegg?

[variables.vg_kurstrinn_nus]
    unit = "vg"
    dtype = "STRING"
    length = [1]
    renamed_from = ["kurstrin"]
    klass_codelist = 36
    klass_variant_search_term = "Kurstrinn"
    derived_from = ["nus2000"]


[variables.fa_erfagskole_nokut_nus]
    unit = "fa"
    dtype = "BOOLEAN"
    length = [2]  # A bit stupid cause we are converting it to a bool after getting it from klass, the only code is "10" -> True...
    renamed_from = ["fagskoleutd"]
    description_short = "Fra klass får vi de fagskoleutdanningene som er godkjent av NOKUT - dvs. norske fagskoleutdanninger. De som har utd_utdanningstype=710 men som ikke er True/'10' i denne variabelen, er uspesifiserte koder som kommer fra alternative kilder enn NOKUT. "
    klass_codelist = 36
    klass_variant_search_term = "Fagskoleutdanning"
    derived_from = ["nus2000"]


[variables.fa_studiepoeng_nus]
    unit = "fa"
    dtype = "STRING"
    length = [3]
    klass_codelist = 36
    klass_variant_search_term = "Studiepoeng ved fagskole"
    derived_from = ["nus2000"]


[variables.uh_univ_eller_hoegskole]
    unit = "uh"
    dtype = "STRING"
    length = [1]
    klass_codelist = 885
    renamed_from = ["univ", "uh_univ_eller_hogskole"]
    derived_from = ["utd_utdanningstype", "utd_datakilde"]
    #outdated_comment = "Kan vi utlede denne istedenfor å ha den lagret på data?"

[variables.uh_studiepoeng_nus]
    unit = "uh"
    dtype = "STRING"
    length = [3]
    klass_codelist = 36
    klass_variant_search_term = "Studiepoeng 2"
    derived_from = ["nus2000"]


[variables.uh_gradmerke_nus]
    unit = "uh"
    dtype = "STRING"
    length = [1]
    klass_codelist = 36
    klass_variant_search_term = "Gradmerke"
    derived_from = ["nus2000"]


[variables.uh_gruppering_nus]
    unit = "uh"
    dtype = "STRING"
    length = [2]
    renamed_from = ["uhgruppe"]
    klass_codelist = 36
    klass_variant_search_term = "Universitets- og høgskolegruppering"
    derived_from = ["nus2000"]


[variables.utd_klassetrinn_lav_hoey_nus]
    unit = "utd"
    dtype = "STRING"
    length = [5]
    renamed_from = ["utd_klassetrinn_lav_hoy_nus"]
    klass_codelist = 36
    klass_variant_search_term = "Klassetrinn"
    derived_from = ["nus2000"]

# Disse to sekundærutledes fra utd_klassetrinn_lav_hoey_nus
[variables.utd_klassetrinn_lav_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    derived_from = ["utd_klassetrinn_lav_hoey_nus"]
[variables.utd_klassetrinn_hoey_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    derived_from = ["utd_klassetrinn_lav_hoey_nus"]


[variables.utd_foreldet_kode_nus]
    unit = "utd"
    dtype = "STRING"  # Only code is '*' and can be converted to a bool in utd_erforeldet_kode_nus
    length = [1]
    klass_codelist = 36
    klass_variant_search_term = "Historisk kode"
    derived_from = ["nus2000"]
    renamed_from = ["utd_historisk_foreldet_fag_nus"]


[variables.utd_erforeldet_kode_nus]
    unit = "utd"
    dtype = "BOOLEAN"  # Only code is '*' and can be converted to a bool
    length = [1]
    derived_from = ["utd_foreldet_kode_nus"]
    renamed_from = ["utd_erhistorisk_foreldet_fag_nus"]

[variables.utd_samle_eller_enkeltutd_nus]
    unit = "utd"
    dtype = "STRING"
    length = [1]
    klass_codelist = 36
    klass_variant_search_term = "Kodetype"
    derived_from = ["nus2000"]

[variables.utd_varighet_antall_mnd_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    klass_codelist = 36
    klass_variant_search_term = "Varighet"
    derived_from = ["nus2000"]

[variables.utd_utdanningsprogram_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    klass_codelist = 36
    klass_variant_search_term = "Utdanningsprogram"
    derived_from = ["nus2000"]

[variables.utd_isced2011_programmes_nus]
    unit = "utd"
    dtype = "STRING"
    length = [3]
    klass_codelist = 139
    klass_correspondence_to = 36
    derived_from = ["nus2000"]

[variables.utd_isced2011_attainment_nus]
    unit = "utd"
    dtype = "STRING"
    length = [3]
    klass_codelist = 140
    klass_correspondence_to = 36
    derived_from = ["nus2000"]

[variables.utd_isced2013_fagfelt_nus]
    unit = "utd"
    dtype = "STRING"
    length = [4]
    klass_codelist = 141
    klass_correspondence_to = 36
    derived_from = ["nus2000"]


#############################################################################
# Variabler som krever all utdanningsdata som utgangspunkt for å bli korrekt #
#############################################################################

[variables.utd_hoeyeste_nus2000]
    unit = "utd"
    dtype = "STRING"
    length = [6]
    klass_codelist = 36

    description_short = "NUS-kode for utdanningen ved NUS-kode for høyeste utdanning"

    # This needs to change as we realise more about how the BU-variable needs to be constructed
    renamed_from = ["bu"]
    derived_from = ["snr", "nus2000", "utd_fullfoertkode"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]

# Need to figure out how we can reference external variables (not owned by NUDB) we depend on, like snr_far and snr_mor - currently causing a test to fail, and rightly so
#[variables.utd_foreldres_utdnivaa_16aar]
#     unit = "utd"
#     dtype = "STRING"
#     renamed_from = ["sosbak"]
#     derived_from = ["snr", "utd_hoeyeste_nus2000", "pers_foedselsdato", "snr_far", "snr_mor"]


[variables.uh_foerste_nus2000]
    unit = "uh"
    dtype = "STRING"
    length = [6]
    klass_codelist = 36
    derived_from = ["snr", "nus2000", "utd_aktivitet_start", "utd_aktivitet_slutt", "uh_eksamen_dato"]
    derived_join_keys = ["snr"]
    derived_uses_datasets = ["avslutta", "igang", "eksamen"]



####################################################
# Boolean filter for registreringer i ulike nivåer #
####################################################

[variables.gr_ergrunnskole_registrering]
    unit = "gr"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en registering på grunnskolenivå."
    derived_from = ["nus2000", "uh_erutland"]

[variables.vg_ervgo_registrering]
    unit = "vg"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en registering på videregåendenivå."
    derived_from = ["nus2000"]

[variables.vg_erstudiespess_registrering]
    unit = "vg"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en registering på studiespess på videregående."
    derived_from = ["nus2000", "vg_utdprogram"]

[variables.vg_eryrkesfag_registrering]
    unit = "vg"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en registering på yrkesfag på videregående."
    derived_from = ["nus2000", "vg_utdprogram"]



[variables.uh_erhoeyereutd_registrering]
    unit = "uh"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en registering på høyere utdanning."
    derived_from = ["nus2000"]


[variables.uh_erbachelor_registrering]
    unit = "uh"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en registering på en bachelorgrad."
    derived_from = ["nus2000", "uh_gradmerke_nus"]

[variables.uh_ermaster_registrering]
    unit = "uh"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en registering på en mastergrad."
    derived_from = ["nus2000"]




#################################################
# Boolean filter for fullføring av ulike nivåer #
#################################################


[variables.gr_ergrunnskole_fullfoert]
    unit = "gr"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av grunnskolenivå."
    derived_from = ["utd_fullfoertkode", "nus2000", "uh_erutland"]



[variables.vg_ervgo_fullfoert]
    unit = "vg"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av videregåendenivå."
    derived_from = ["utd_fullfoertkode", "nus2000", "vg_kompetanse_nus"]


[variables.vg_erstudiespess_fullfoert]
    unit = "vg"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av videregåendenivå med studiekompetanse."
    derived_from = ["utd_fullfoertkode", "nus2000", "vg_utdprogram", "vg_kompetanse_nus", "utd_aktivitet_start"]

[variables.vg_eryrkesfag_fullfoert]
    unit = "vg"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av videregåendenivå med yrkesfaglig kompetanse."
    derived_from = ["utd_fullfoertkode", "nus2000", "vg_utdprogram", "vg_kompetanse_nus", "utd_aktivitet_start"]


[variables.uh_erhoeyskolekandidat_fullfoert]
    unit = "uh"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av 2-årig høyskolekandidat-utdanning. Bør kun kjøres på avslutta-data?"
    derived_from = ["utd_fullfoertkode", "nus2000", "uh_gruppering_nus", "utd_klassetrinn"]

[variables.uh_erbachelor_fullfoert]
    unit = "uh"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av en bachelorgrad. Bør kun kjøres på avslutta-data?"
    derived_from = ["utd_fullfoertkode", "uh_gradmerke_nus"]

[variables.uh_ermaster_fullfoert]
    unit = "uh"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av en mastergrad. Bør kun kjøres på avslutta-data?"
    derived_from = ["utd_fullfoertkode", "nus2000"]


[variables.uh_erdoktorgrad_fullfoert]
    unit = "uh"
    dtype = "BOOLEAN"
    description_short = "Markerer rader som tilsier en fullføring av en doktorgrad. Bør kun kjøres på avslutta-data?"
    derived_from = ["utd_fullfoertkode", "nus2000"]


#############################
# Nivåbestemte datokolonner #
#############################

[variables.gr_foerste_registrert_dato]
    unit = "gr"
    dtype = "DATETIME"
    derived_from = ["snr", "gr_ergrunnskole_registrering", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["igang", "avslutta"]
    derived_join_keys = ["snr"]

[variables.gr_foerste_fullfoert_dato]
    unit = "gr"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_fullf_gs"]
    derived_from = ["snr", "gr_ergrunnskole_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]


[variables.vg_foerste_registrert_dato]
    unit = "vg"
    dtype = "DATETIME"
    renamed_from = ["aar_ny_i_vid_utd", "aar_ny_i_vid_utd_lov"]
    derived_from = ["snr", "vg_ervgo_registrering", "utd_aktivitet_start", "utd_aktivitet_slutt"]  # Kan vi utlede "startet på vg" kun fra nus2000, også for eldre rader?
    derived_uses_datasets = ["igang", "avslutta"]
    derived_join_keys = ["snr"]

[variables.vg_foerste_fullfoert_dato]
    unit = "vg"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_fullf_vs", "aar_forste_fullf_vs_lov"]
    derived_from = ["snr", "vg_ervgo_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]

[variables.vg_studiespess_foerste_fullfoert_dato]
    unit = "vg"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_fullf_vsa", "aar_forste_fullf_vsa_lov"]
    derived_from = ["snr", "vg_erstudiespess_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]

[variables.vg_yrkesfag_foerste_fullfoert_dato]
    unit = "vg"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_fullf_vsy", "aar_forste_fullf_vsy_lov"]
    derived_from = ["snr", "vg_eryrkesfag_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]



[variables.uh_foerste_registrert_dato]
    unit = "uh"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_reg_uh"]
    derived_from = ["snr", "uh_erhoeyereutd_registrering", "utd_aktivitet_start", "utd_aktivitet_slutt", "uh_eksamen_dato"]
    derived_uses_datasets = ["igang", "avslutta", "eksamen"] # skal eksamen være med hær
    derived_join_keys = ["snr"]

[variables.uh_hoeyskolekandidat_foerste_fullfoert_dato]
    unit = "uh"
    dtype = "DATETIME"
    description_short = "Høyskolekandidat er en egen type 2-årig utdanning på uh-nivå."
    renamed_from = ["aar_forste_fullf_hoey"]
    derived_from = ["snr", "uh_erhoeyskolekandidat_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]


[variables.uh_bachelor_foerste_registrert_dato]
    unit = "uh"
    dtype = "DATETIME"
    derived_from = ["snr", "uh_erbachelor_registrering", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["igang", "avslutta"]
    derived_join_keys = ["snr"]

[variables.uh_bachelor_foerste_fullfoert_dato]
    unit = "uh"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_fullf_bach"]
    derived_from = ["snr", "uh_erbachelor_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]

[variables.uh_master_foerste_registrert_dato]
    unit = "uh"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_reg_hov"] # "Hovedfag" ?
    derived_from = ["snr", "uh_ermaster_registrering", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["igang", "avslutta"]
    derived_join_keys = ["snr"]

[variables.uh_master_foerste_fullfoert_dato]
    unit = "uh"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_fullf_hov"]
    derived_from = ["snr", "uh_ermaster_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt" ]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]


[variables.uh_doktorgrad_foerste_fullfoert_dato]
    unit = "uh"
    dtype = "DATETIME"
    renamed_from = ["aar_forste_reg_dok"]
    derived_from = ["snr", "uh_erdoktorgrad_fullfoert", "utd_aktivitet_start", "utd_aktivitet_slutt"]
    derived_uses_datasets = ["avslutta"]
    derived_join_keys = ["snr"]
