##############################################
# Variabler som utledes fra nudbs data alene #
##############################################


[variables.utd_skoleaar_slutt]
    unit = "tid"
    dtype = "STRING"
    renamed_from = ["skoleaar_slutt"]
    klass_codelist = 0  # This means that the variable is never supposed to have a klass_codelist or klass_variant or similar.
    derived_from = ["utd_skoleaar_start"]



#################################################
# Variabler som utledes ved hjelp av FREGs data #
#################################################

# TODO: Enable once sosbak handling is implemented in the other code base.
# [variables.pers_16aar_foreldres_utdnivaa]
#     unit = "pers"
#     dtype = "STRING"
#     renamed_from = ["sosbak"]
#     derived_from = ["nus2000", "pers_foedselsdato", "snr_far", "snr_mor"]





####################################################
# Variabler som kan utledes fra NUS2000-kodeverket #
####################################################

[variables.vg_kompetanse_nus]
    unit = "vg"
    dtype = "STRING"
    length = [1]
    renamed_from = ["komp"]
    klass_codelist = 36
    klass_variant_search_term = "Kompetanse"
    derived_from = ["nus2000"]  # Kan vi utlede fra programomraadekode heller/ i tillegg?

[variables.vg_kurstrinn_nus]
    unit = "vg"
    dtype = "STRING"
    length = [1]
    renamed_from = ["kurstrin"]
    klass_codelist = 36
    klass_variant_search_term = "Kurstrinn"
    derived_from = ["nus2000"]

[variables.fa_erfagskole_nus]
    unit = "fa"
    dtype = "BOOLEAN"
    length = [2]  # A bit stupid cause we are converting it to a bool after getting it from klass, the only code is "10"...
    renamed_from = ["fagskoleutd"]
    klass_codelist = 36
    klass_variant_search_term = "Fagskoleutdanning"
    derived_from = ["nus2000"]


[variables.fa_studiepoeng_nus]
    unit = "fa"
    dtype = "STRING"
    length = [3]
    klass_codelist = 36
    klass_variant_search_term = "Studiepoeng ved fagskole"
    derived_from = ["nus2000"]


[variables.uh_univ_eller_hogskole]
    unit = "uh"
    dtype = "STRING"
    length = [1]
    klass_codelist = 885
    renamed_from = ["univ"]
    derived_from = ["utd_utdanningstype", "utd_datakilde"]
    #outdated_comment = "Kan vi utlede denne istedenfor å ha den lagret på data?"

[variables.uh_studiepoeng_nus]
    unit = "uh"
    dtype = "STRING"
    length = [3]
    klass_codelist = 36
    klass_variant_search_term = "Studiepoeng 2"
    derived_from = ["nus2000"]


[variables.uh_gradmerke_nus]
    unit = "uh"
    dtype = "STRING"
    length = [1]
    klass_codelist = 36
    klass_variant_search_term = "Gradmerke"
    derived_from = ["nus2000"]


[variables.uh_gruppering_nus]
    unit = "uh"
    dtype = "STRING"
    length = [2]
    renamed_from = ["uhgruppe"]
    klass_codelist = 36
    klass_variant_search_term = "Universitets- og høgskolegruppering"
    derived_from = ["nus2000"]


[variables.utd_klassetrinn_lav_hoy_nus]
    unit = "utd"
    dtype = "STRING"
    length = [5]
    #renamed_from = [""]
    klass_codelist = 36
    klass_variant_search_term = "Klassetrinn"
    derived_from = ["nus2000"]
# Disse to sekundærutledes fra utd_klassetrinn_lav_hoy_nus
[variables.utd_klassetrinn_lav_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    derived_from = ["utd_klassetrinn_lav_hoy_nus"]
[variables.utd_klassetrinn_hoy_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    derived_from = ["utd_klassetrinn_lav_hoy_nus"]


[variables.utd_erhistorisk_foreldet_fag_nus]
    unit = "utd"
    dtype = "BOOLEAN"  # Only code is '*' and can be converted to a bool
    length = [1]
    klass_codelist = 36
    klass_variant_search_term = "Historisk kode"
    derived_from = ["nus2000"]

[variables.utd_samle_eller_enkeltutd_nus]
    unit = "utd"
    dtype = "STRING"
    length = [1]
    klass_codelist = 36
    klass_variant_search_term = "Kodetype"
    derived_from = ["nus2000"]

[variables.utd_varighet_antall_mnd_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    klass_codelist = 36
    klass_variant_search_term = "Varighet"
    derived_from = ["nus2000"]

[variables.utd_utdanningsprogram_nus]
    unit = "utd"
    dtype = "STRING"
    length = [2]
    klass_codelist = 36
    klass_variant_search_term = "Utdanningsprogram"
    derived_from = ["nus2000"]

[variables.utd_isced2011_programmes_nus]
    unit = "utd"
    dtype = "STRING"
    length = [3]
    klass_codelist = 36
    klass_correspondence_to = 139
    derived_from = ["nus2000"]

[variables.utd_isced2011_attainment_nus]
    unit = "utd"
    dtype = "STRING"
    length = [3]
    klass_codelist = 36
    klass_correspondence_to = 140
    derived_from = ["nus2000"]

[variables.utd_isced2013_fagfelt_nus]
    unit = "utd"
    dtype = "STRING"
    length = [4]
    klass_codelist = 36
    klass_correspondence_to = 141
    derived_from = ["nus2000"]
